{% extends "base.njk" %}

{% block glossary %}

<details>
    <summary>Basics</summary>
    <ul>
        <li><a href="../overview/">Overview</a></li>
        <li><a href="../accounts/">Accounts</a></li>
        <li><a href="../hubs/">Hubs</a></li>
        <li><a href="../messages/">Messages</a></li>
        <li><a href="../Accounts/">Permissions</a></li>
    </ul>
</details>

<details>
    <summary>Getting Started</summary>
    <ul>
        <li><a href="../create-a-character/">Character Creation</a></li>
        <li><a href="../basic-mechanics/">Basic Mechanics</a></li>
        <li>sit</li>
        <li>amet</li>
    </ul>
</details>

<details>
    <summary>Mechanics</summary>
    <ul>
        <li><a href="../basics/">Framework</a></li>
        <li></li>
        <li>delor</li>
        <li>sit</li>
        <li>amet</li>
    </ul>
</details>

<details>
    <summary>Items</summary>
    <ul>
        <li><a href="../potions/">Potions</a></li>
        <li><a href="../tools/">Tools</a></li>
        <li>delor</li>
        <li>sit</li>
        <li>amet</li>
    </ul>

</details>

{% endblock %}