<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}★ tryoxiss</title>

    <link rel="stylesheet" href="/res/style.css">
    <link rel="stylesheet" href="/res/prism.css">

    <link rel="icon" href="/res/ico/favicon.ico">
    
    {% block customimport %}
    {% endblock %}

</head>
{% endblock %}
{# Need to add language- before the code language to make that work.  #}
<body class="match-braces language-{{ code_language }}">
    <script src="/res/prism.js"></script>

    {# <p class="path-from-home">
        <a href="/"><svg xmlns="http://www.w3.org/2000/svg" class="fa-free fa-home fa-icon" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg></a> / <a href="/posts/">posts</a> / <a href="#">this</a>
    </p> #}

    <nav role="primary navigation" class="primary-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li style="margin-left: auto;"><a href="/about/">About</a></li>
            <li><a href="/projects/">Our Stuff</a></li>
            <li><a href="/links/">Our Links</a></li>
        </ul>
    </nav>
    
    <header>
        {% block header %}
        <h1>{{ title }}</h1>

        <p class="subtitle">
            {%if author %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>{{ author }}
            {% endif %}

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line><path d="M8 14h.01"></path><path d="M12 14h.01"></path><path d="M16 14h.01"></path><path d="M8 18h.01"></path><path d="M12 18h.01"></path><path d="M16 18h.01"></path></svg>
            {# {{ page.date }} #}

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>{{(content | wordcount / 130) | round}} minute read 
        </p>

        {# <p class="subtitle"><a href="/">~</a> / <a href="/blog/">blog</a> / </p> #}

        {% endblock %}
    </header>
    
    {# <nav role="related articles" class="glossary"> #}
        {# {% include "glossary.njk" %} #}
    {# </nav> #}

    <main>
        {% block main %}
        {{ content | safe }}
        {% endblock %}
    </main>

    {# FOR SOME REASON THIS ASIDE CAUSES MOBILE BUGS. FIX BEFORE MERGEING. #}
    <aside role="Sidebar" class="sidebar">
    {% block sidebar %}

    <p class="sidebar-header"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path><path d="m9 12 2 2 4-4"></path></svg>
    Passing Status</p>
    <span class="sidebar-text {{ passing_bool }}">{{ passing_status }}</span>

    <p class="sidebar-header"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
    Conducted by</p>
    <span class="sidebar-text" href="https://example.com">{{ conducted_by }}</span>

    <p class="sidebar-header"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line><path d="M8 14h.01"></path><path d="M12 14h.01"></path><path d="M16 14h.01"></path><path d="M8 18h.01"></path><path d="M12 18h.01"></path><path d="M16 18h.01"></path></svg>
    Conducted on</p>
    <span class="sidebar-text">{{ conducted_on }}</span>

    <p class="sidebar-header"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="18" cy="18" r="3"></circle><circle cx="6" cy="6" r="3"></circle><path d="M6 21V9a9 9 0 0 0 9 9"></path></svg>
    Software version</p>
    <span class="sidebar-text"><code>{{ conducted_version }}</code></span>

    <p class="small, muted" style="margin-bottom: 0px; margin-top: 0.5rem;">This audit has been slightly edited to fit with this websites formatting. You can view the <a href="{{ cracker_notes }}">unedited version here</a>. It's contents has not been modified in any signifigant or breaking way.</p>
    {% endblock %}
    </aside>

    {% include "footer.njk" %}
</body>
</html>