<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} ★ tryoxiss</title>

    <link rel="stylesheet" href="/res/style.css">
    <link rel="stylesheet" href="/res/prism.css">

</head>
{% endblock %}
{# Need to add language- before the code language to make that work.  #}
<body class="match-braces {{ code_language }}">
    <script src="/res/prism.js"></script>
    
    <header>
        {% block header %}
        <h1>{{ title }}</h1>

        <p class="subtitle">
            {%if author %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>{{ author }}
            {% endif %}

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line><path d="M8 14h.01"></path><path d="M12 14h.01"></path><path d="M16 14h.01"></path><path d="M8 18h.01"></path><path d="M12 18h.01"></path><path d="M16 18h.01"></path></svg><code>Str</code>

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>{{(content | wordcount / 130) | round}} minute read 
        </p>

        {# <p class="subtitle"><a href="/">~</a> / <a href="/blog/">blog</a> / </p> #}

        {% endblock %}
    </header>
    
    <main>
        {% block main %}
        {{ content | safe }}
        {% endblock %}
    </main>

    {% include "footer.njk" %}
</body>
</html>