{% block footer %}
<footer>
    {# <ul>
        <li><a href="#"><b>Projects</b></a></li>
        <li><a href="/specs/cloth/">Cloth</a></li>
        <li><a href="/specs/cleanid/">::cleanid</a></li>
        <li><a href="/specs/better-ver/">better:ver</a></li>
        <li><a href="/specs/config">better config format</a></li>
    </ul> #}

    <ul>
        <li><a href="#"><b>Credits</b></a></li>
        <li><a href="https://www.11ty.dev/">11ty</a> (SSG)</li>
        <li><a href="https://prismjs.com/">prism.js</a> (Syntax Hilighting)</li>
    </ul>

    <ul>
        <li><a href="#"><b>Color Theme</b></a></li>
        <li><a href="/specs/milkshake/2.0/" class="dead-link">Milkshake 2.0 Theme</a> which is based on <a href="https://github.com/catppuccin/catppuccin">catppuccin</a> (<a href="https://github.com/catppuccin/catppuccin/blob/main/LICENSE">Licence</a>) and <a class="dead-link" href="/specs/milkshake/1.0/">Milkshake 1.0</a></li>
    </ul>

    <br>
    <p class="subtitle">Most content on this site is copyright &copy; tryoxiss 2022 or later. Feel free to use any of my content without asking though, just credit me and don't use it for any <a href="/dict/profanity/" class="dead-link">profanity</a> and I will probably be good. Though I do reserve the right to make you stop using it at any time for any reason.</p>
</footer>
{% endblock %}