<nav class="glossary" role="Glossary">
    <details>
        <summary>More</summary>
        <ul>
            <li>lorem</li>
            <li>ipsum</li>
            <li>delor</li>
            <li>sit</li>
            <li>amet</li>
        </ul>
    </details>
</nav>