{% block navbar %}
<nav role="primary navigation" class="primary-nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li style="margin-left: auto;"><a href="/about/">About</a></li>
        <li><a href="/projects/">Our Stuff</a></li>
        <li><a href="/links/">Our Links</a></li>
    </ul>
</nav>
{% endblock %}