@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,800;1,200;1,400;1,800&display=swap');

:root { 

    --red-2:        #FFADAD; 
    --orange-2:     #FFD6A5; 
    --yellow-2:     #FDFFB6; 
    --green-2:      #CAFFBF; 
    --blue-2:       #9BF6FF; 
    --blueviolet-2: #A0C4FF; 
    --violet-2:     #BDB2FF;
    --pink-2:       #FFC6FF; 
    /* 8 col */
    /* 5 variants */
    /* 8 * 5 = 40 colors */

    --violet-1: #ece8fd;

    --mono-0: #fff; 
    --mono-1: #e4e4e4; 
    /*     --mono-1: #f7f7f7;  */
    --mono-2: #e5e5e5; 
    --mono-3: #afafaf; 
    --mono-4: #4b4b4b; 
    --mono-5: #202020; 
    --mono-6: #0a0a0a; 

    /* heros trans */

    --red-t-2:        rgba(255, 173, 173, .8); 
    --orange-t-2:     rgba(255, 214, 165, .8); 
    --yellow-t-2:     rgba(253, 255, 182, .8); 
    --green-t-2:      rgba(202, 255, 191, .8); 
    --blue-t-2:       rgba(155, 246, 255, .8); 
    --blueviolet-t-2: rgba(160, 196, 255, .8); 
    --violet-t-2:     rgba(189, 178, 255, .8);
    --pink-t-2:       rgba(255, 198, 255, .8); 

    --red-t3-2:        rgba(255, 173, 173, .1); 
    --orange-t3-2:     rgba(255, 214, 165, .1); 
    --yellow-t3-2:     rgba(253, 255, 182, .1); 
    --green-t3-2:      rgba(202, 255, 191, .1); 
    --blue-t3-2:       rgba(155, 246, 255, .1); 
    --blueviolet-t3-2: rgba(160, 196, 255, .1); 
    --violet-t3-2:     rgba(189, 178, 255, .1);
    --pink-t3-2:       rgba(255, 198, 255, .1); 

    --left-to-right-rainbow: linear-gradient(red, yellow, blue);
}



body { 
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}


/* GRID TEMPLATE AREAS */
nav { grid-area: navb; }
main { grid-area: main; }
.toc { grid-area: toch; }
footer { grid-area: foot; }
header { grid-area: head; }

body { 
    grid-template-areas: 
    "navb navb navb navb navb navb navb navb"
    "head head head head head head head head" 
    "main main main main main main main main" 
    "foot foot foot foot foot foot foot foot";
}

@media (min-width: 500px) { 
    body { 
        grid-template-areas: 
        "navb navb navb navb navb navb navb navb"
        "head head head head head head head head"
        "main main main main main main main main" 
        "foot foot foot foot foot foot foot ....";
    }
    
}

@media (min-width: 700px) { 
    body { 
        grid-template-areas: 
        "navb navb navb navb navb navb navb navb"
        ".... head head head head head head ...." 
        ".... main main main main main main ...." 
        ".... foot foot foot foot foot foot ....";
    }
    
}

@media (min-width: 900px) { 
    body { 
        grid-template-areas: 
        "navb navb navb navb navb navb navb navb"
        ".... head head head head head toch ...." 
        ".... main main main main main toch ...." 
        ".... foot foot foot foot foot toch ....";
    }
    
}

@media (min-width: 1080px) { 
    body { 
        grid-template-areas: 
        "navb navb navb navb navb navb navb navb"
        ".... .... head head head head toch ...." 
        ".... .... main main main main toch ...." 
        ".... .... foot foot foot foot toch ....";
    }
    
}


body { 
    background-color: #000;
}

nav { 
    background-color: red;
}

html { 
    font-family: 'Nunito', sans-serif;
}

code { 
    font-family: 'Hack', monospace !important;
}

main { 
    background-color: var(--mono-6);
    color: var(--mono-2);

    margin: 1rem; 
    padding: 1.5rem; 

    border-radius: 1rem;
}

main a { 
    color: var(--blueviolet-2);
    border-bottom: 1px solid currentColor; 
}

main a:hover { 
    opacity: .7; 
}

.toc { 
    background-color: yellowgreen;
}

footer { 
    background-color: blue;
}

h1 { 
    margin: 0px !important; 
}

pre { 
    padding: 0.5rem; 
    border-radius: 6px;

    background-color: #000 !important;
}

a { text-decoration: none;}

.post-meta { 
    margin: 0; 
    margin-bottom: -8px; 

    margin-top: 8px; 
}

/* @import url(prism.css) */