/* Normalise all properties to spec */
@import url(normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,800;1,200;1,400;1,800&display=swap');

@import url('http://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css');
/* 
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap'); */

/* :root { 

    --red-2:        #FFADAD; 
    --orange-2:     #FFD6A5; 
    --yellow-2:     #FDFFB6; 
    --green-2:      #CAFFBF; 
    --blue-2:       #9BF6FF; 
    --blueviolet-2: #A0C4FF; 
    --violet-2:     #BDB2FF;
    --pink-2:       #FFC6FF; 
    /* 8 col */
    /* 5 variants */
    /* 8 * 5 = 40 colors 

    --violet-1: #ece8fd;

    --mono-0: #fff; 
    --mono-1: #e4e4e4; 
    /*     --mono-1: #f7f7f7;  
    --mono-2: #e5e5e5; 
    --mono-3: #afafaf; 
    --mono-4: #4b4b4b; 
    --mono-5: #202020; 
    --mono-6: #0a0a0a; 

    /* heros trans 

    --red-t-2:        rgba(255, 173, 173, .8); 
    --orange-t-2:     rgba(255, 214, 165, .8); 
    --yellow-t-2:     rgba(253, 255, 182, .8); 
    --green-t-2:      rgba(202, 255, 191, .8); 
    --blue-t-2:       rgba(155, 246, 255, .8); 
    --blueviolet-t-2: rgba(160, 196, 255, .8); 
    --violet-t-2:     rgba(189, 178, 255, .8);
    --pink-t-2:       rgba(255, 198, 255, .8); 

    --red-t3-2:        rgba(255, 173, 173, .1); 
    --orange-t3-2:     rgba(255, 214, 165, .1); 
    --yellow-t3-2:     rgba(253, 255, 182, .1); 
    --green-t3-2:      rgba(202, 255, 191, .1); 
    --blue-t3-2:       rgba(155, 246, 255, .1); 
    --blueviolet-t3-2: rgba(160, 196, 255, .1); 
    --violet-t3-2:     rgba(189, 178, 255, .1);
    --pink-t3-2:       rgba(255, 198, 255, .1); 

    --left-to-right-rainbow: linear-gradient(red, yellow, blue);
} */

:root {
    --latte-rosewater: rgb(222, 149, 132);
    --latte-flamingo: rgb(221, 120, 120);
    --latte-pink: rgb(236, 131, 208);
    --latte-mauve: rgb(136, 57, 239);
    --latte-red: rgb(210, 15, 57);
    --latte-maroon: rgb(230, 69, 83);
    --latte-peach: rgb(254, 100, 11);
    --latte-yellow: rgb(228, 147, 32);
    --latte-green: rgb(64, 160, 43);
    --latte-teal: rgb(23, 146, 153);
    --latte-sky: rgb(4, 165, 229);
    --latte-sapphire: rgb(32, 159, 181);
    --latte-blue: rgb(42, 110, 245);
    --latte-lavender: rgb(114, 135, 253);
    --latte-text: rgb(76, 79, 105);
    --latte-subtext1: rgb(92, 95, 119);
    --latte-subtext0: rgb(108, 111, 133);
    --latte-overlay2: rgb(124, 127, 147);
    --latte-overlay1: rgb(140, 143, 161);
    --latte-overlay0: rgb(156, 160, 176);
    --latte-surface2: rgb(172, 176, 190);
    --latte-surface1: rgb(188, 192, 204);
    --latte-surface0: rgb(204, 208, 218);
    --latte-base: rgb(239, 241, 245);
    --latte-mantle: rgb(230, 233, 239);
    --latte-crust: rgb(220, 224, 232);

    --frappe-rosewater: rgb(242, 213, 207);
    --frappe-flamingo: rgb(238, 190, 190);
    --frappe-pink: rgb(244, 184, 228);
    --frappe-mauve: rgb(202, 158, 230);
    --frappe-red: rgb(231, 130, 132);
    --frappe-maroon: rgb(234, 153, 156);
    --frappe-peach: rgb(239, 159, 118);
    --frappe-yellow: rgb(229, 200, 144);
    --frappe-green: rgb(166, 209, 137);
    --frappe-teal: rgb(129, 200, 190);
    --frappe-sky: rgb(153, 209, 219);
    --frappe-sapphire: rgb(133, 193, 220);
    --frappe-blue: rgb(140, 170, 238);
    --frappe-lavender: rgb(186, 187, 241);
    --frappe-text: rgb(198, 206, 239);
    --frappe-subtext1: rgb(181, 189, 220);
    --frappe-subtext0: rgb(165, 172, 201);
    --frappe-overlay2: rgb(148, 155, 183);
    --frappe-overlay1: rgb(131, 138, 164);
    --frappe-overlay0: rgb(115, 120, 145);
    --frappe-surface2: rgb(98, 103, 126);
    --frappe-surface1: rgb(81, 86, 108);
    --frappe-surface0: rgb(65, 69, 89);
    --frappe-base: rgb(48, 52, 70);
    --frappe-mantle: rgb(41, 44, 60);
    --frappe-crust: rgb(35, 38, 52);

	--macchiato-rosewater: rgb(244, 219, 214);
    --macchiato-flamingo: rgb(240, 198, 198);
    --macchiato-pink: rgb(245, 189, 230);
    --macchiato-mauve: rgb(198, 160, 246);
    --macchiato-red: rgb(237, 135, 150);
    --macchiato-maroon: rgb(238, 153, 160);
    --macchiato-peach: rgb(245, 169, 127);
    --macchiato-yellow: rgb(238, 212, 159);
    --macchiato-green: rgb(166, 218, 149);
    --macchiato-teal: rgb(139, 213, 202);
    --macchiato-sky: rgb(145, 215, 227);
    --macchiato-sapphire: rgb(125, 196, 228);
    --macchiato-blue: rgb(138, 173, 244);
    --macchiato-lavender: rgb(183, 189, 248);
    --macchiato-text: rgb(197, 207, 245);
    --macchiato-subtext1: rgb(179, 188, 224);
    --macchiato-subtext0: rgb(161, 170, 203);
    --macchiato-overlay2: rgb(143, 151, 183);
    --macchiato-overlay1: rgb(125, 132, 162);
    --macchiato-overlay0: rgb(108, 114, 141);
    --macchiato-surface2: rgb(90, 95, 120);
    --macchiato-surface1: rgb(72, 76, 100);
    --macchiato-surface0: rgb(54, 58, 79);
    --macchiato-base: rgb(36, 39, 58);
    --macchiato-mantle: rgb(30, 32, 48);
    --macchiato-crust: rgb(24, 25, 38);



    --mocha-rosewater: rgb(245, 224, 220);
    --mocha-flamingo: rgb(242, 205, 205);
    --mocha-pink: rgb(245, 194, 231);
    --mocha-mauve: rgb(203, 166, 247);
    --mocha-red: rgb(243, 139, 168);
    --mocha-maroon: rgb(235, 160, 172);
    --mocha-peach: rgb(250, 179, 135);
    --mocha-yellow: rgb(249, 226, 175);
    --mocha-green: rgb(166, 227, 161);
    --mocha-teal: rgb(148, 226, 213);
    --mocha-sky: rgb(137, 220, 235);
    --mocha-sapphire: rgb(116, 199, 236);
    --mocha-blue: rgb(135, 176, 249);
    --mocha-lavender: rgb(180, 190, 254);

    --mocha-strong-text: #dce0ee;

    --mocha-text: rgb(198, 208, 245);
    --mocha-subtext1: rgb(179, 188, 223);
    --mocha-subtext0: rgb(161, 168, 201);
    --mocha-overlay2: rgb(142, 149, 179);
    --mocha-overlay1: rgb(123, 129, 157);
    --mocha-overlay0: rgb(105, 109, 134);
    --mocha-surface2: rgb(86, 89, 112);
    --mocha-surface1: rgb(67, 70, 90);
    --mocha-surface0: rgb(49, 50, 68);
    --mocha-base: rgb(30, 30, 46);
    --mocha-mantle: rgb(24, 24, 37);
    --mocha-crust: rgb(17, 17, 27);
}

:root { 
    --font-family: 'Nunito', sans-serif; 
    --code-font: 'Hack', monospace; 

    --border-subwindow-radius: 6px; 
}

@media (prefers-color-scheme: light) { 
    :root { 
        --base-color: var(--latte-crust); 
        --main-bg: var(--latte-mantle);
        --subwindow-bg: var(--latte-base); /* e.g. spoilers, codeblocks */

        --text-muted: var(--latte-subtext0); 
        --text-normal: var(--latte-text); 
        --text-strong: #000; 

        --links-color: var(--latte-blue); 


        --red-2:        var(--latte-red); 
        --orange-2:     var(--latte-peach); 
        --yellow-2:     var(--latte-yellow); 
        --green-2:      var(--latte-green); 
        --blue-2:       var(--latte-sky); 
        --blueviolet-2: var(--latte-lavender); 
        --violet-2:     var(--latte-mauve);
        --pink-2:       var(--latte-pink); 
    }

    main .code-toolbar::before, 
    main .canvas-holder,
    main .has-window-buttons {
        background-image: url("/res/svg/close-buttons-light.svg");
    }
}

@media (prefers-color-scheme: dark) { 
    :root { 
        --base-color: var(--mocha-crust); 
        --main-bg: var(--mocha-base);
        --subwindow-bg: var(--mocha-mantle); /* e.g. spoilers, codeblocks */
        --border-color: var(--mocha-surface1); 

        --text-muted: var(--mocha-subtext1); 
        --text-normal: var(--mocha-text); 
        --text-strong: var(--mocha-strong-text); 

        --links-color: var(--mocha-blue); 

        --table-heading-color: var(--mocha-crust); 
        --table-hover-color: var(--mocha-crust); 

        --table-even-color: var(--mocha-mantle); 
        --table-odd-color: var(--mocha-crust); 

        --red-2:        #FFADAD; 
        --orange-2:     #FFD6A5; 
        --yellow-2:     #FDFFB6; 
        --green-2:      #CAFFBF; 
        --blue-2:       #9bf6ff; 
        --blueviolet-2: #a0c4ff; 
        --violet-2:     #BDB2FF;
        --pink-2:       #FFC6FF; 

        --red-3: var(--mocha-red);

        --yellow-3: var(--mocha-yellow);

        --hilight-color: rgba(160, 196, 255, 0.25);
    }

    main .code-toolbar::before, 
    main .canvas-holder,
    main .has-window-buttons {
        background-image: url("/res/svg/close-buttons-dark.svg");
    } 
}

::selection { 
    background-color: var(--hilight-color);
}

body { 
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}


/* GRID TEMPLATE AREAS */
nav { grid-area: navb; }
main { grid-area: main; }
.toc { grid-area: toch; }
footer { grid-area: foot; }
header { grid-area: head; }

.cards-list > * { 
    grid-column: span 2;
}

body { 
    grid-template-areas: 
    "navb navb navb navb navb navb navb navb"
    "head head head head head head head head" 
    "main main main main main main main main" 
    "foot foot foot foot foot foot foot foot";
}

@media (min-width: 500px) { 
    body { 
        grid-template-areas: 
        "navb navb navb navb navb navb navb navb"
        "head head head head head head head head"
        "main main main main main main main main" 
        "foot foot foot foot foot foot foot ....";
    }
}

@media (min-width: 700px) { 
    body { 
        grid-template-areas: 
        "navb navb navb navb navb navb navb navb"
        "head head head head head head head head" 
        "main main main main main main main main" 
        ".... foot foot foot foot foot foot ....";
    }
}

@media (min-width: 900px) { 
    body { 
        grid-template-areas: 
        "navb navb navb navb navb navb navb navb"
        "head head head head head head head head" 
        "main main main main main main main main" 
        "foot foot foot foot foot foot foot foot";
    }

    .cards-list > * { 
        grid-column: span 1;
    }
}

@media (min-width: 1080px) { 
    body { 
        grid-template-areas: 
        "navb navb navb navb navb navb navb navb"
        ".... .... head head head head .... ...." 
        ".... .... main main main main .... ...." 
        ".... .... foot foot foot foot .... ....";
    }
}

body { 
    background-color: var(--base-color);
}

nav { 
    background-color: red;
}

html { 
    font-family: var(--font-family);
}

main { 
    background-color: var(--main-bg);
    color: var(--text-normal);

    margin: 1rem; 
    padding: 1.5rem; 

    border-radius: 1rem;
}

.toc { 
    background-color: yellowgreen;
}

h1 { 
    margin: 0px !important; 
}

pre { 
    padding: 0.5rem; 
    border-radius: 6px;

    background-color: var(--subwindow-bg);
}

a { text-decoration: none;}

.post-meta { 
    margin: 0; 
    margin-bottom: -8px; 

    margin-top: 8px; 
}

/* @import url(prism.css) */

* { 
    max-width: 100vw;
}

main { 
    max-width: 95vw;
}

.subtitle { 
    color: var(--text-muted); 
}

footer ul { 
    display: flex;
    list-style: none;
}

footer li { 
    margin: 0.5rem; 
}

.subtitle { 
    margin: 0; 
}

.subtitle:has(svg) { 
    margin-left: 0.5rem; 
}

.subtitle svg { 
    margin: 0px; 
    margin-left: 0.5rem; 
    margin-right: 0.25rem; 

    margin-bottom: -3px; 
}

code a { 
    text-decoration: none;
}

/* .subtitle a { 
    border-bottom: 0;
} */

a { 
    border-bottom: 1px solid currentColor; 
}

a:hover { 
    opacity: .7; 
}

footer a b { 
    color: var(--text-strong); 
}

footer { 
    margin-bottom: 2rem; 
}

footer ul { 
    /* This is the exact amount that the bullets shift them over... just... don't question it... */
    margin-left: -2.96rem; 
}

footer { 
    padding: 0px 2rem; 
}

.subtitle svg { 
    margin-left: 0;
}

.subtitle svg:not(:nth-of-type(1)) { 
    margin-left: 0.4rem; 
}

h1 { 
    color: var(--mono-2); 
}

header { 
    text-align: center;

    margin: 2rem; 
}

code { 
    font-family: 'Hack', 'Consolas', 'Roboto Mono', monospace;
    font-size: 0.9rem; 

    padding: 0px 0.35rem; 
    border-radius: var(--border-subwindow-radius); 
}

.cards-list { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em; 
}

h1, h2, h3, h4, h5, h6, strong { 
    color: var(--text-strong); 
}

a { 
    color: var(--links-color); 
}

code { 
    font-family: var(--code-font);
    background-color: var(--subwindow-bg);
}

pre { 
    background-color: var(--subwindow-bg);
}

/* main pre::before, 
main canvas::before { 
    content: url("/res/svg/close-buttons-dark.svg"); 

    display: block;
    height: 1rem; 
    width: 4rem; 
} */

main .code-toolbar::before, 
main .canvas-holder,
main .has-window-buttons {
    content: "";
    display:block;

    height:0.75rem;
    width:3rem;
    background-size: 3rem 12rem;

    background-repeat: no-repeat;

    background-position: center;

    padding: 8px;
    padding-top: 12px; 
    padding-left: 0px;
    margin-left: 0.5rem;
}

main .canvas-holder,
.has-window-buttons { 
    background-color: var(--subwindow-bg);
    border-radius: var(--border-subwindow-radius);

    width: 99%; 
    margin-left: -0.15rem;

    background-position: left;
} 

p { 
    margin-left: -0.125rem;
}

* { 
    line-height: 1.5;
}

/* FROM PRISM.CSS */

.has-window-buttons { position:relative }
div.code-toolbar > .toolbar { 
    position: absolute; 
    z-index: 10;
    top:.3em; right: .2em;
    transition: opacity .3s ease-in-out;
    opacity: 0;
}

.code-toolbar:hover > .toolbar {
    opacity:1
}

div.code-toolbar:focus-within > .toolbar {
    opacity:1
}

div.code-toolbar > .toolbar > .toolbar-item {
    display:inline-block; 
    cursor: default; 
    margin-right: 0.3rem; 
}
div.code-toolbar > .toolbar > .toolbar-item > a {
    cursor:pointer;  
}
div.code-toolbar > .toolbar > .toolbar-item > button {
    background:0 0;
    border:0;
    color:inherit;
    font:inherit;
    line-height:normal;
    overflow:visible;
    padding:0;
    /* -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none; */
    cursor:pointer;  

    /* background: #212529; */
    /* background-color: #140226; */
    color: var(--clr-black);

    background-color: var(--subwindow-bg);

    /* THIS ONE IS THE **COPY** BUTTON */
}

div.code-toolbar > .toolbar > .toolbar-item > button:hover {
    /* background-color: var(--clr-hero-700);
    color: var(--clr-hero-100) */

    background: var(--links-color); 
    color: var(--subwindow-bg); 

    transition-duration: 100ms;

    /* THIS ONE IS THE **COPY** BUTTON */
}



.has-window-buttons > .toolbar > .toolbar-item > a,div.code-toolbar > .toolbar > .toolbar-item > button,div.code-toolbar > .toolbar > .toolbar-item > span {
    color:#fff;
    font-size:.8em;
    padding:0 .5rem;
    /* background:#f5f2f0; */
    /* background:rgba  (224,224,224,.2); */
    /* box-shadow:0 2px 0 0 rgba(0,0,0,.2); */
    border-radius: 10em;

    /* this one controls ***BOTH*** so style this generally and the copy button diffrently.  */
}

div.code-toolbar > .toolbar > .toolbar-item > a:focus,div.code-toolbar > .toolbar > .toolbar-item > a:hover, 
div.code-toolbar >.toolbar> .toolbar-item > button:focus, div.code-toolbar > .toolbar > .toolbar-item > button:hover, div.code-toolbar > .toolbar > .toolbar-item > span:focus,div.code-toolbar > .toolbar > .toolbar-item > span:hover {
    /* color: var(--clr-hero-300); */
    text-decoration:none;
}

/* ******** */

.postcard > * { 
    margin: 1rem;
    margin-top: -0.75rem;
}

.postcard h2 { 
    font-size: 1rem; 
    margin-top: -1.75rem;
    margin-left: 4.5rem;
}

.postcard p { 
    color: var(--text-normal)
}

s { 
    color: var(--text-muted); 
    opacity: .7; 
}

::marker { 
    color: var(--text-muted);
}

ol { 
    list-style: decimal-leading-zero;
}

ol ol { 
    list-style: lower-alpha;
}

ol ol ol { 
    list-style: decimal;
}


/* ********* COPYPASTA STARTS ************ */

/* FROM CSSTRICKS @ https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/ OR https://codepen.io/aaroniker/pen/ZEYoxEY (it's literally 1:1 minus some variables and pickey tweaks) */

/* TODO: Fix the colors, they are just temperary rn */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {

    input[type=checkbox]:disabled,
    input[type=radio]:disabled {
        --active-inner: var(--mocha-blue);
    } 

    input[type=checkbox],
  input[type=radio] {

      /* --active: var(--blueviolet-2);
      --active-inner: var(--border-color);
      --border-hover: var(--blueviolet-2);
      --background: var(--border-color);
      --disabled: var(--border-color);
      --disabled-inner: var(--blueviolet-2-bg); */

      --active: var(--mocha-blue);
      --active-inner: var(--border-color);
      --inactive-inner: var(--mocha-blue); 
      /* --active-inner: red;  */
      --border: var(--border-color); 
      --border-hover: var(--blueviolet-2);
      /* --background: transparent; */
      --background: var(--border-color); 

      --disabled: var(--border-color);
      --disabled-inner: var(--mocha-surface1);

      appearance: none;
      
      height: 21px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    input[type=checkbox]:after,
  input[type=radio]:after {
      content: "";

        /* content: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>';  */

      display: block;
      left: 0;
      top: 0;
      position: absolute;

      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    input[type=checkbox]:checked,
  input[type=radio]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    input[type=checkbox]:disabled,
  input[type=radio]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    input[type=checkbox]:disabled:checked,
  input[type=radio]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    input[type=checkbox]:disabled + label,
  input[type=radio]:disabled + label {
      cursor: not-allowed;
    }
    input[type=checkbox]:hover:not(:checked):not(:disabled),
  input[type=radio]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    input[type=checkbox]:focus,
  input[type=radio]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    input[type=checkbox]:not(.switch),
  input[type=radio]:not(.switch) {
      width: 21px;
    }
    input[type=checkbox]:not(.switch):after,
  input[type=radio]:not(.switch):after {
      opacity: var(--o, 0);
    }
    input[type=checkbox]:not(.switch):checked,
  input[type=radio]:not(.switch):checked {
      --o: 1;
    }
    input[type=checkbox] + label,
  input[type=radio] + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  
    input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
    input[type=checkbox].switch {
      width: 38px;
      border-radius: 11px;
    }
    input[type=checkbox].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--inactive-inner));
      transform: translateX(var(--x, 0));
    }
    input[type=checkbox].switch:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    input[type=checkbox].switch:disabled:not(:checked):after {
      opacity: 0.6;
    }
  
    input[type=radio] {
      border-radius: 50%;
    }
    input[type=radio]:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7));
    }
    input[type=radio]:checked {
      --s: .5;
    }
  }
  @media (max-width: 800px) {
    body {
      flex-direction: column;
    }
  }  
/* mine again :3 */

input { 
    width: 50%; 
}
.input-50 { 
    width: 50%; 
}

input[type='checkbox']:not(.switch)::after { 
    margin-top: -2px; 
}

.form-item-wrapper { 
    isolation: isolate;
    position: relative;
    margin: 0.2rem; 
}

.form-item-wrapper input + label { 
    color: var(--text-muted); 
    /* margin-left: 50%;  */
    top: 8px; 
    left: 15px;
    position: absolute;

    background-color: var(--background-color);
    padding: 0px 0.25rem; 

    font-size: var(--font-small);
}

.form-item-wrapper input + label { 
    top: -6px; 
}

.form-item-wrapper input { 
    width: 100%; 
}

.spoiler { 
    transition: 100ms; 
}

.spoiler:not(img[class*='spoiler']) { 
    background-color: var(--code-block-background);
    color: var(--code-block-background); 
    padding: 1px; 
    border-radius: var(--border-box-radius);
}

img[class*='spoiler'] { 
    content: 'spoiler'; 
    filter: blur(15px); 
}

img { 
    border-radius: var(--border-box-radius);
}

.spoiler:not(img[class*='spoiler']):hover { 
    color: var(--text-normal);
} 

.spoiler:hover { 
    filter: blur(0px); 
}

.spoiler::after { 
    content: 'meow'; 
}

img[class*='spoiler']::after { 
    content: 'SPOILER'; 
    z-index: 10; 
    margin-left: 3rem; 
}

/* TODO: Make the pelletes together and make a nice color wheel to show them in a nice way, with like 2 or 3 concentric rings. */


/* callouts (TODO: not supported by 11ty base, so we will need to add them) */

/* TODO: FIX THE COLORS */
.callout--warning  { color: var(--red-2); }
.callout--info     { color: var(--blue-2);   }
.callout--tip      { color: var(--green-2);   }
.callout--sidenote { color: var(--blue-2); }
.callout--danger   { color: var(--red-2); }
.callout--spoilers { color: var(--yellow-2); }
.callout--summarry  { color: var(--yellow-2); }
.callout--question, .callout--help { color: var(--green-2); }

.callout--accesability { color: var(--blueviolet-2); }

/* ********* CALLOUTS ********* */

.callout, .blockquote { 
    height: calc(max-content + 3rem) ;
}

blockquote, .callout { 
    border-left: 3px solid currentColor;
    margin: 0px; 
    padding: 0.5rem; 

    font-size: 1rem;

    border-radius: 0px;

    background-color: var(--background-color); 
}

blockquote { 
    margin-bottom: 1rem; 
}

blockquote *:last-child { 
    margin-bottom: 0px; 
}

blockquote svg, .callout svg { 
    margin-top: 0px; 
}

/* CALLOUTS with  https://help.obsidian.md/How+to/Use+callouts */
/* and use the icons from obis websie if I can */

.callout { 
    /* background-color: var(--blue-t3-2) !important;  */

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    margin-bottom: 0.5rem; 
    margin-top: .5rem;
    margin-left: .5rem;
}

.callout:last-child { 
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.callout > *:not(:nth-child(1)) { 
    color: var(--text-normal);
}

@media (max-width: 500px) { 
    .callout { 
        margin-top: 2rem; 
    }

    .callout__header { 
        margin-bottom: 2rem;
    }
}

.callout__header { 
    font-weight: 700;

    display: flex; 
    /* height: 2rem;  */
    margin-top: -.5rem; 

    height: 1.5rem; 

    /* padding-top: 1rem;  */
    margin-left: -1.56rem;
    background-color: var(--background-color); 

    /* color: currentColor;  */
}

.callout__header * { 
    margin: 0px; 
    color: currentColor; 
    font-weight: 700;

    margin-left: 0.5rem;
    /* margin-top: 0.5rem;  */


    size: 1rem; 
}

.callout .callout { 
    margin-left: 0.5rem;
}

.callout__header p { 
    margin-top: -4px; 
}

.callout *:last-child { 
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

blockquote, details { 
    padding-bottom: 0px !important;
}

/* adding callouts/SVGs for future me: 
1. find the one you want in the folder
2. open it with a text editor
3. nab all of its contents and put it into the html
4. change its size to 16x16 or whatever I am using for its case */

.callout, .blockquote { 
    height: calc(max-content + 3rem) ;
}

blockquote, .callout { 
    border-left: 3px solid currentColor;
    margin: 0px; 
    padding: 0.5rem; 

    font-size: 1rem;

    border-radius: 0px;

    background-color: var(--background-color); 
}

blockquote { 
    margin-bottom: 1rem; 
}

blockquote *:last-child { 
    margin-bottom: 0px; 
}

blockquote svg, .callout svg { 
    margin-top: 0px; 
}

/* CALLOUTS with  https://help.obsidian.md/How+to/Use+callouts */
/* and use the icons from obis websie if I can */

.callout { 
    /* background-color: var(--blue-t3-2) !important;  */

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    margin-bottom: 0.5rem; 
    margin-top: .5rem;
    margin-left: .5rem;
}

.callout:last-child { 
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.callout > *:not(:nth-child(1)) { 
    color: var(--text-normal);
}

@media (max-width: 500px) { 
    .callout { 
        margin-top: 2rem; 
    }

    .callout__header { 
        margin-bottom: 2rem;
    }
}

.callout__header { 
    font-weight: 700;

    display: flex; 
    /* height: 2rem;  */
    margin-top: -.5rem; 

    height: 1.5rem; 

    /* padding-top: 1rem;  */
    margin-left: -1.56rem;
    background-color: var(--background-color); 

    /* color: currentColor;  */
}

.callout__header * { 
    margin: 0px; 
    color: currentColor; 
    font-weight: 700;

    margin-left: 0.5rem;
    /* margin-top: 0.5rem;  */


    size: 1rem; 
}

.callout .callout { 
    margin-left: 0.5rem;
}

.callout__header p { 
    margin-top: -4px; 
}

.callout *:last-child { 
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

blockquote, details { 
    padding-bottom: 0px !important;
}

.callout::before { 
    content: ""; 
}

/* adding callouts/SVGs for future me: 
1. find the one you want in the folder
2. open it with a text editor
3. nab all of its contents and put it into the html
4. change its size to 16x16 or whatever I am using for its case */

blockquote { 
    z-index: 0; 

    isolation: isolate; 

    border-left: 0px; 
    font-style: italic;
}

blockquote::before { 
    content: open-quote; 
    position: absolute;
    font-size: 8rem; 
    color: var(--text-muted); 

    margin-top: -3rem; 
    margin-left: -2rem; 

    opacity: .3; 

    z-index: -1; 
}

details summary::after { 
    color: var(--text-muted); 
    margin-top: -0.25rem; 
    margin-left: 0.5rem; 
    font-weight: 400;
}details[open] summary::after { 
    content: '(less)';
}

summary:hover { 
    cursor: pointer; 
}

details[open] summary::after { 
    content: '(less)';
}

details summary::after { 
    content: '(more)'
}

summary:hover { 
    cursor: pointer; 
}

.chip-small { 
    padding: 1px 5px; 
    border-radius: var(--border-capsule-radius);
}

.chip--wip { 
    background-color: var(--yellow-2);
    color: var(--background-color); 
}


/* :focus */

/* .callout--warning:focus  { background-color: var(--red-2); }
.callout--info     { background-color: var(--blue-2);   }
.callout--tip      { background-color: var(--green-2);   }
.callout--sidenote { background-color: var(--blue-2); }
.callout--danger   { background-color: var(--red-2); }
.callout--spoilers { background-color: var(--yellow-2); }
.callout--summarry  { background-color: var(--yellow-2); }
.callout--question:focus, .callout--help:focus { background-color: var(--green-2) !important; color: var(--mono-6); }

.callout--accesability { color: var(--blueviolet-2); } */

/* .callout--help:focus-within summary { background-color: var(--green-2); color: var(--mono-6); } */

/* TODO: ALSO NEED TO MAKE IT SUPPORT SPOILERS WITH ||  */

/*  */
/*  */

footer ul { 
    color: var(--text-normal)
}

.dead-link { 
    color: var(--red-2)
}

footer ul { 
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width: 800px) { 
    footer ul { 
        display: block;
    }
}

.button { 
    background-color: var(--subwindow-bg);
}

.button { 
    text-decoration: none;
    border-bottom: 0; 

    color: #4b4b4b; 
    background-color: var(--violet-bg);
    padding: .5rem 1rem ;

    border-radius: 10000vh;

    margin: 0.5rem 0.25rem;

    display: inline-block;
}

.button svg { 
    /* padding: .5rem 0px; */
    margin-bottom: -0.5rem;
}

.button:focus { 
    outline-offset: 0.25rem;
}

.brand-icon { 
    width: 24px; 
    height: 24px; 
    margin-top: -3px;

    fill: #4b4b4b; 
}

img { 
    width: 100%;
    border-radius: var(--border-subwindow-radius);
}

h2, h3, h4, h5, h6 { 
    margin: 0px;
}

/* h1, h2, h3, h4, h5, h6 { 
    font-family: 'Mali', serif;
} */

/* h2 { 
    border-bottom: 1px solid var(--border-color);
} */

.callout { 
    font-style: normal;
}

.callout__header { 
    background-color: var(--main-bg);
}

.callout > p:first-of-type { 
    margin-top: 0;
}

.callout__header { 
    margin-bottom: 0px;
}


/* *******8 */

.tab-group {
    display: flex;
    flex-wrap: wrap;
}
.tab-group input[type="radio"] {
    display: none;
}
.tab-group label {
    font-weight: bold;
    padding: 1em; 
}

.tab-group .tab {
    width: 100%;
    padding: 20px;
    order: 1;
    display: none;

    background-color: var(--subwindow-bg);
    margin: 0.5em 0.25em; 
    border-radius: var(--border-subwindow-radius);
}
.tab-group .tab h2 {
    font-size: 3em;
}

.tab-group input[type='radio']:checked + label + .tab {
    display: block;
}

.tab-group input[type="radio"]:checked + label {
    color: var(--text-strong);
    background-color: var(--subwindow-bg);

}

.tab-group input[type="radio"]:not(:checked) + label {
    color: var(--text-muted);
}

.tab-group input[type="radio"] + label:hover {
    color: var(--text-strong);
} 

.tab-group label { 
    border-radius: var(--border-subwindow-radius);
}

/* ********* TABLES ******* */

table { 
    width: 100%;
}

th { 
    text-align: left;

    background-color: var(--table-heading-color);
}

th, tr, td { 
    padding: 5px;
}

/* tr:nth-child(odd) { 
    background-color: var(--table-even-color);
}

tr:nth-child(even) { 
    background-color: var(--table-odd-color);
} */

tr:hover { 
    background-color: var(--table-hover-color); 
    color: var(--text-strong); 
}

p { 
    margin-top: 0px;
}

.text-icon { 
    margin-bottom: -2px;
}

footer b { 
    color: var(--text-strong); 
}

.emoji { 
    width: 1.4rem; 
    height: 1.4rem; 
    margin-bottom: -6px;

    border-radius: 0px;

    -webkit-user-drag: none;
    cursor: text;
}

/* .button *, .brand-icon, .button { 
    color: var(--latte-text); 
}

.brand-icon { 
    fill: var(--latte-text); 
} */

.button *, .brand-icon, .button { 
    color: var(--border-color); 
}

.brand-icon { 
    fill: var(--border-color); 
}

/* .h2-reminder { 
    color: var(--text-muted); 
    text-transform: uppercase;
    margin-bottom: -1rem;
    height: 4px;
} */

/* *************** */
/* UTILITY CLASSES */
/* *************** */

.h2-subhead { 
    text-transform: uppercase;
    color: var(--text-muted); 
}

.red-2 { 
    color: var(--red-2)
}

.orange-2 { 
    color: var(--orange-2)
}

.yellow-2 { 
    color: var(--yellow-2)
}

.green-2 { 
    color: var(--green-2)
}

.blue-2 { 
    color: var(--blue-2)
}

.blueviolet-2 { 
    color: var(--blueviolet-2)
}

.violet-2 { 
    color: var(--violet-2)
}

.pink-2 { 
    color: var(--pink-2)
}