@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *::before, *::after { box-sizing: border-box; }

body { 
    font-family: 'Noto Sans';
    grid-template-columns: 1fr 2fr 1fr;

    margin: 0;
}

header { grid-area: header; }
main { grid-area: body; }
footer { grid-area: footer; }

header { 
    height: 70svh;
}

header, section { 
    display: grid;

    grid-template-columns: 1fr 2fr 1fr;
}

header > *, section > * { 
    grid-column: 2 / 3;
}

h2 { 
    background-color: aqua;
    padding: 0.5rem;
    border-radius: 3rem;
    border-bottom-left-radius: 0px;
}


.cards { 
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

@media (min-width: 1080px) { 
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.card { 
    background-color: #ccc;
}